.page1 {
  background: #efeae3;
}

nav {
  width: 100%;
  height: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 3vw;
}

.nav-part2 {
  display: flex;
  align-items: center;
  gap: 0.6vw;
}

.nav-part2 h4 {
  font-weight: 300;
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
  border: 1px solid rgba(85, 85, 85, 0.534);
  color: rgba(51, 51, 51, 0.851);
  font-size: 1.4rem;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}

.nav-part2 h4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0b0500;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

.nav-part2 h4 a {
  text-decoration: none;
  z-index: 9;
  color: #0b0500;
  position: relative;
}

nav .menu {
  display: none;
}

.nav-part2 h4:hover a {
  color: white;
}

.center {
  width: 100%;
  height: 70vh;
  padding: 0 2vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid rgba(101, 101, 101, 0.387);
  padding-bottom: 2.5vw;
}

.left {
  width: 28vw;
  font-size: 2vw;
  line-height: 2vw;
}

.left h4 {
  font-weight: 500;
}

.right h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
}

.hero-shape {
  position: absolute;
  right: 0;
  top: 75vh;
  width: 46vw;
  height: 35vw;
}

.hero1 {
  width: 100%;
  height: 100%;
  background: #fe4511;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(1.2rem);
  position: absolute;
}

.hero2 {
  width: 30vw;
  height: 30vw;
  background: #fe4511;
  border-radius: 50%;
  filter: blur(1.2rem);
  position: absolute;
  animation-name: animate2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.hero3 {
  width: 30vw;
  height: 30vw;
  background: #fe4511;
  border-radius: 50%;
  filter: blur(1.2rem);
  position: absolute;
  animation-name: animate1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes animate1 {
  from {
    transform: translate(55%, -2%);
  }
  to {
    transform: translate(0%, -10%);
  }
}

@keyframes animate2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 20%);
  }
}

.page1 video {
  padding: 2vw 2vw;
  width: 100%;
  margin-top: 2rem;
  border-radius: 50px;
  position: relative;
}

.full-screen {
  width: 100%;
  height: 100vh;
  background: rgba(59, 59, 59, 0.501);
  position: fixed;
  z-index: 99;
  top: -100%;
  transition: all ease 0.8s;
}

/* ==================== Responsive part ==================== */

@media (max-width: 998px) {
  nav {
    width: 100%;
    height: 8rem;
  }

  nav .logo {
    width: 18vw;
  }

  .nav-part2 {
    display: none;
  }

  .center {
    height: auto;
  }
}

@media (max-width: 668px) {
}
